<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.CSharp" version="3.0.6" targetFramework="net452" />
  <package id="Bond.Runtime.CSharp" version="3.0.6" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net452" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net452" />
  <package id="TLC.Pipeline" version="3.5.93" targetFramework="net452" />
  <package id="TLC.Prediction" version="3.5.93" targetFramework="net452" />
  <package id="TLC.Prediction.Basic" version="3.5.93" targetFramework="net452" />
  <package id="TLC.Prediction.NeuralNetworks" version="3.5.93" targetFramework="net452" />
  <package id="TLC.Training" version="3.5.93" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="5.0.2" targetFramework="net452" />
</packages>